<h2>Your Cart</h2>
<table>

  <% @cart.line_items.each do |item| %>

    
      <%= item.quantity %>&times;<br>
      
      <%= number_to_currency(item.total_price) %>
    
  <% end %>

   Total: <%= number_to_currency(@cart.total_price) %>
 


<br>
<%= button_to 'Empty cart', @cart, method: :delete,
    data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back to Shopping', '../#' %>