<div class="product-title">
  <h1>Women's T-Shirts</h1>
</div>

<br><br><br>
  <% cache ['store', Product.latest] do %>
  <div class="product-list">
    <% @products.each do |product| %>
      <% cache ['entry', product] do %>
        <%if product.category == "women"%>
          <div class="product">

            <%= product.title %> | 
            <%= product.description %> | 
            <%= number_to_currency(product.price) %> |
            <%= product.category %><br>
            <%= image_tag product.avatar.url(:medium) %><br>
          
            <%= button_to 'Add to Cart', line_items_path(product_id: product) %><br>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  <% end %>

