<!DOCTYPE html>
<html>
<head>
  <title>MyStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- bootstrap -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>

<!-- start bootstrap navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="../#">Store Home</a>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                    <li>
	                        <a href="#">About</a>
	                    </li>
	                    <li>
	                        <a href="#">Services</a>
	                    </li>
	                    <li>
	                        <a href="#">Contact</a>
	                    </li>
	                    <li>
	                    	<%= link_to 'Sign Up', new_user_path %> | 
	                    </li>
	                    <li>
	                    	<%= link_to 'Log In', login_path%> 
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>
	    <br><br><br><br>
<!-- end bootstrap navbar -->


 	<%= yield %>



<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p class="center">Copyright &copy; Cosimo Inc 2014</p>
            </div>
        </div>
    </footer>

</body>
</html>
